<h1>Automata Visualizer</h1>
<av-grammar-form-view *ngIf="grammar$ | async as grammar" [grammar]="grammar"
                      (submit)="onSubmit($event)"></av-grammar-form-view>
<!--<av-automata-view [dot]="pda$ | async" title="Nondeterministic Pushdown Automaton"></av-automata-view>-->
<!--<av-automata-view [dot]="dpda$ | async" title="Deterministic Pushdown Automaton"></av-automata-view>-->
<!--<av-automata-view [dot]="nfa$ | async" title="Nondeterministic Finite Automaton"></av-automata-view>-->
<!--<av-automata-view [dot]="dfa$ | async" title="Deterministic Finite Automaton"></av-automata-view>-->
<av-automata-view [dot]="dot$ | async" title="Test Title"></av-automata-view>
<section>
    <h2>Grammar Data Structure</h2>
    <span>{{grammar$ | async | json}}</span>
</section>
