<h1>Automata Visualizer</h1>
<av-grammar-form-view *ngIf="grammar$ | async as grammar" [grammar]="grammar"
                      (submit)="onSubmit($event)"></av-grammar-form-view>
<av-automata-view *ngIf="pda$ | async as pda; else noPDA" [dot]="pda"
                  title="Non-deterministic Pushdown Automaton"></av-automata-view>
<ng-template #noPDA>
    <h2>Non-deterministic Finite Automaton</h2>
    <h4>Could not display an NPDA - try putting the grammar in Greibach Normal Form.</h4>
</ng-template>
<av-automata-view *ngIf="nfa$ | async as nfa; else noNFA" [dot]="nfa"
                  title="Non-deterministic Finite Automaton"></av-automata-view>
<ng-template #noNFA>
    <h2>Non-deterministic Finite Automaton</h2>
    <h4>Could not display an NFA, since the grammar is not linear.</h4>
</ng-template>
