<form [formGroup]="form">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Non-Terminal</th>
            <th>Production</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr
            *ngFor="let control of form.controls; first as isFirst; last as isLast; index as ruleIndex"
            [formGroup]="control">
            <td>
                <span *ngIf="isFirst">
                    Start
                </span>
            </td>
            <td>
                <input formControlName="nonTerminal" (ngModelChange)="isLast && $event !== '' && onFocusLast()">
            </td>
            <td>
                <input formControlName="production" (focus)="isLast && onFocusLast()">
            </td>
            <td>
                <button
                    *ngIf="!(isFirst || isLast)"
                    (click)="onRemoveRule(ruleIndex)"
                    type="button">
                    Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div *ngIf="form.invalid">
    Overall Errors: {{form.errors | json}}
    Control Errors:
    <ul>
        <li *ngFor="let control of form.controls">
            Group Errors: {{control.errors | json}}
            <ul>
                <li>
                    NonTerminal Errors: {{control.controls['nonTerminal'].errors | json}}
                </li>
                <li>
                    Production Errors: {{control.controls['production'].errors | json}}
                </li>
            </ul>
        </li>
    </ul>
</div>
